@import url("https://reset5.googlecode.com/hg/reset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/hannari.css");

body {
  /* ほとんどのブラウザは、bodyタグに対して標準で8px程度のマージンを設定しているらしい */
  margin: 0;
  padding: 0;
  background: url(image/background.png);
  background-size: cover; /* 画面全体を覆うように背景を表示 */
  background-position: center;
  background-attachment: fixed; /* スクロールしても背景画像を固定する */
  min-height: 100vh;
}

/* リンクの青線消す */
a {
  text-decoration: none; /* 下線を消す */
  color: #000; /* 文字の色を黒など好みの色に変更 */
}

h2 {
  margin-left: 8px;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 5rem;
  color: #003a4e;
  border-bottom: solid 3px #bfa177;
  border-right: solid 2px #bfa177;
  border-radius: 100vh 0 0 100vh;
  background: #dfdbd4;
  font-family: "Hannari", serif;
}

h2:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #fff;
}

h3 {
  text-align: center;
  color: #dfdbd4;
  padding: auto;
}

p {
  color: #dfdbd4;
}

/* 枠組み */
.card-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); /* 均等に4列に分割する */
  gap: 20px; /* カードとカードの間の隙間 */
  max-width: 1200px; /* 全体の最大幅 */
  margin: 0 auto; /* 画面の中央に配置 */
  padding: 20px;
}

/* 本体のデザイン */
.card {
  background-color: #dfdbd4;
  border-bottom: solid 3px #bfa177;
  border-radius: 12px; /* 角を丸くする */
  overflow: hidden; /* 中の画像が角丸からはみ出るのを防ぐ */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 影 */
}

.card2 {
  background-color: #00465d;
  border-bottom: solid 3px #dfdbd4;
  border-right: solid 1.5px #dfdbd4;
  border-radius: 12px; /* 角を丸くする */
  overflow: hidden; /* 中の画像が角丸からはみ出るのを防ぐ */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 影 */
  padding: 20px;
  margin: 20px 20px;
}

.card:hover {
  transform: scale(1.1); /* 画像を少し拡大する */
  transition: transform 0.3s ease; /* スムーズなアニメーション */
}

.card h3 {
  font-family: "Hannari", serif;
  text-align: center;
  padding: auto;
}

/* 画像部分 */
.card__image {
  width: 100%;
  height: 200px; /* 画像の高さ */
  object-fit: cover;
}

/* テキスト部分の枠 */
.card__content {
  padding: 20px; /* テキストの周りの余白 */
}

/* タイトルの文字 */
.card__title {
  font-size: 18px;
  font-weight: bold;
  color: #20272d;
  margin: 0 0 8px 0; /* タイトルの下に余白 */
}

/* 説明文の文字 */
.card__text {
  font-size: 14px;
  color: #20272d;
  margin: 0;
}

/* 左スクロール */
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}
.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-shrink: 0;
}
.scroll-infinity__list--left {
  animation: infinity-scroll-left 80s infinite linear 0.5s both;
}

/* スマホサイズ */
.scroll-infinity__item {
  width: calc(100vw / 3);
}

/* タブレットサイズ */
@media screen and (min-width: 600px) {
  .scroll-infinity__item {
    width: calc(100vw / 4);
  }
}

/* PCサイズ */
@media screen and (min-width: 900px) {
  .scroll-infinity__item {
    width: calc(100vw / 6);
  }
}
.scroll-infinity__item > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;

  border: 10px solid #dfdbd4;
  box-sizing: border-box;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*画像にカーソルが触れたとき*/
.scroll-infinity__item:hover > img {
  transform: scale(1.1); /* 1.1倍に膨らませる */
}

/* フェードイン  */
.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1.5s ease-in forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 70px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
